body{
  background-image: url(book.jpg);
  background-size: cover;
}
.body{
  display: flex;
  background-image: url(book.jpg);
  background-size: cover;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.search{
margin-right: 100px;
  margin-top: 25vh;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 20px;
  height: 30vh;
  width: 25vh;
  background-color:rgba(216, 238, 137, 0.418);
  border-radius: 8%;
}
.header{
  color: aliceblue;
  margin-left: 160vh;
  padding: 5px;
  padding-right: 10px;
}
a{
  padding-right: 15px;
  color: aliceblue;
}